

<style>
    .overlay {
        background:transparent;
    }
</style>
<section class="home-header animated fadeInLeftBig" style="background:transparent">
   <div class="overlay" style="opacity:0.9">
          <div class="row">
               Fit <i class="fa fa-coffee animated infinite pulse" aria-hidden="true"></i> Board
           </div>
           <% if(!currentUser) { %>
               <div class="row">
                   <a href="/login" class="btn btn-primary btn-lg">Login</a>
                   <a href="/register" class="btn btn-primary btn-lg">Sign Up!</a>
               </div>
           <% } else { %>
               <div class="row">
                   <a href="/hq" class="btn btn-primary btn-lg">Dashboard</a>
                   <a href="/bulletin-board" class="btn btn-primary btn-lg">Bulletin Board</a>
               </div>
           <% } %>
   </div>
</section>

<section class="jumbotron-content">
    <div class="container text-center" id="section1">
            <h1>Hi, Welcome to FitBoard</h1>
            <h2>"What is Fitbook, and What Can I Do On Here?"</h2>
            <h2>Lets Take The Tour</h2>
    </div>
</section>

<section class="jumbotron-content" style="background:transparent" id="section2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Create and Share Articles, Tips, Recipes, and Motivation</h1>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                 </div>
                 <div class="row">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                    <i class="fa fa-book" aria-hidden="true"></i>
                 </div>
            </div>
        </div>
    </div>
</section>

<section class="jumbotron-content" id="section3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                <i class="fa fa-commenting-o" aria-hidden="true"></i>
            </div>
            <div class="col-md-6">
               <h1>Comment and Upvote your Favorite Bulletins!</h1>
            </div>
        </div>
    </div>
</section>

<section class="jumbotron-content"style="background:transparent;" id="section4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
               <h1>Add Your Own Bulletins to the Bulletin Board!</h1>
            </div>
            <div class="col-md-6">
                <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                <i class="fa fa-plus-square-o" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</section>

<section class="jumbotron-content" id="section5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <i class="fa fa-tachometer" aria-hidden="true"></i>
            </div>
            <div class="col-md-6">
                <h1>Send Your Favorite Bulletins to HQ!</h1>
            </div>
        </div>
    </div>
</section>

<section class="home-footer" id="footer" style='background:transparent'>
    <div class="container">
        <div class="row">
            <h1>Let's Get Started.</h1>
        </div>
        <div class="row" style="padding-top: 30px">
               <a href="/hq" class="btn btn-primary btn-lg" style="margin-bottom:15px">Go To HQ</a>
               <a href="/bulletin-board" class="btn btn-primary btn-lg"style="margin-bottom:15px">Explore the Bulletin Board</a>
        </div>
    </div>
</section>






