<% include /partials/header %>

<div class="home-header">
   <div class="overlay">
      <div class="row">
           Fit <i class="fa fa-cutlery" aria-hidden="true"></i> Book
       </div>
       <div class="row">
           <a href="/login"><button class="ui inverted massive button">Login</button></a>
           <a href="/register"><button class="ui inverted massive button">Sign Up</button></a>
       </div>
   </div>
</div>

<% include /partials/footer %> 
