<% include /partials/header %>

<div class="home-header">
   <h1 class="header">FIT <i class="fa fa-cutlery" aria-hidden="true"></i> BOOK</h1>
   <div class="row">
       <!--<a class="btn btn-secondary btn-md" href="/recipes">My Recipes</a>-->
   </div>

<% include /partials/footer %> 
</div>
