<% include /partials/header %>

<div class="home-header">
   <div class="overlay">
      <div class="row">
           Fit <i class="fa fa-cutlery" aria-hidden="true"></i> Book
       </div>
   </div>
</div>

<% include /partials/footer %> 
