<% include /partials/header %>

<div class="index-header">
    <div class="overlay">
        <div class="row">
              Your Recipes
        </div>
        <div class="row">
             <a href="/recipes/new"><button class="ui inverted massive red button">New Recipe</button></a> 
        </div>
      

    </div>
</div>

<div class="card-columns">

<% recipes.forEach(function(recipe) { %>
     
     <div class="card">
        <div class="card-block">
            <h2><%= recipe.title %></h2>
            <img class="tiny" src="<%= recipe.image %>">

            <a href="/recipes/<%=recipe._id%>">link</a>
        </div> 
    </div>
        
            
            
            
        </div>
    </div>
        
<% }); %>

</div>

<% include /partials/footer %>