<% include /partials/header %>

<style>
    .overlay {
        padding-top:15%;
        background:url(https://hd.unsplash.com/22/brick-wall.JPG);
        background-size:cover;
        opacity: 0.9;
    }

</style>

    <div class="overlay">
    <div class="container text-left">
        <form action="/login" method="post">
          <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="username" name="username">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" name="password">
            <div class="row button-row">
                <button class="ui big button">Login!</button>
            </div>
          </div>
        </form>
        </div>
    </div>

<% include /partials/footer %>