<% include partials/header %>

    <!--login page-->

    <div class="overlay form-page">
        <div class="container text-left">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Login Here!</h1>
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label>Username</label>
                                <input type="text" class="form-control" placeholder="username" name="username">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                                <input type="password" class="form-control" placeholder="Password" name="password">
                                <div class="row button-row">
                                <button class="btn btn-primary btn-md"style="margin-top: 20px; margin-bottom:30px">Login!</button>
                                </div>
                       
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
                    <h1>No Account?</h1>
                    <h3>Lets Make One!</h3>
                    <a href="/register" class="btn btn-primary btn-md">Register</a>
                </div>
            </div>
        </div>
    </div>

<% include partials/footer %>