<% include partials/header %>

<!--register page-->

    <div class="overlay form-page">
        <div class="container text-left">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Register Here!</h1>
                    <form action="/register" method="post">
                      <div class="form-group">
                        <label>Username</label>
                            <input type="text" class="form-control" name="username" placeholder="username">
                      </div>
                      <div class="form-group">
                        <label>Password</label>
                            <input type="password" class="form-control" name="password"placeholder="Password">
                        <div class="row button-row">
                            <button class="btn btn-md" style="margin-top: 20px">Sign Up!</button>
                        </div>
                      </div>
                      </form>
                </div>
                    
                <div class="col-sm-6">
                    <h1>Already Have An Account?</h1>
                    <h3>What Are You Waiting For?!</h3>
                    <a href="/login" class="btn btn-primary btn-md">Sign In</a>
                </div>
            </div>
        </div>
    </div>

<% include partials/footer %>