<% include /partials/header %>

<style>
    .overlay {
        padding-top:15%;
        background:url(https://hd.unsplash.com/22/brick-wall.JPG);
        background-size:cover;
        opacity: 0.9;
    }

</style>


    <div class="overlay">
        <div class="container text-left">
        <form action="/register" method="post">
          <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username" placeholder="username">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password"placeholder="Password">
            <div class="row button-row">
                <button class="ui big button">Sign Up!</button>
            </div>
          </div>
          </div>
        </form>
        </div>


<% include /partials/footer %>