<% include partials/header %>

<!--edit article page-->

<style>
    .overlay {
        padding-top:100px;
        background: linear-gradient(to left, #f46b45 , #eea849);
        background-size:cover;
        opacity: 0.9;
    }

</style>

<div class="overlay">
    
    <div class="container text-left">
    <h1 style="padding:10px 0">Edit Article</h1>
    <form method="post" action="/bulletin-board/articles/<%=article._id%>?_method=PUT">
      <div class="row">

        <div class="form-group">
            <label>Title</label>
                <input type="text" class="form-control" placeholder="title" name="article[title]" value="<%=article.title%>">
        </div>

        </div>
        <div class="row">
                <label>Summary</label>
                <textarea class="form-control" rows="1" placeholder="One Sentence Summary......" name="article[summary]"><%=article.summary%></textarea>
            </div>
            
            <div class="row">
                <label>Body</label>
                <textarea class="form-control" rows="6" placeholder="type comments/information/instructions here......" name="article[body]"><%=article.body%></textarea>
            </div>

        <div class="row">
             <button class="ui  large button">Edit</button>
        </div>
        
        
       
</form>
</div>
</div>



<% include partials/footer %>