<% include partials/header %>

<style>
    .col-md-4 {
        padding: 0;
    }
    
    .overlay {
        padding-top:50px;
        background:transparent;
        opacity:.7;
    }
    
</style>

<div class="article-header">
    <div class="overlay">

        <div class="row">
            <div class="col-md-4">
                <div class="article-container weightlifting">
                       <div class="article-overlay">
                        Weightlifting 
                            <div class="row">
                                <a href="/articles/weightlifting"><button class="ui inverted massive button">Go</button></a>
                            </div>
                        </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="article-container cardio">
                     <div class="article-overlay">
                        Cardio
                            <div class="row">
                                <a href="/articles/cardio"><button class="ui inverted massive button">Go</button></a>
                            </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="article-container nutrition">
                     <div class="article-overlay">
                        Nutrition
                            <div class="row">
                                <a href="/articles/nutrition"><button class="ui inverted massive button">Go</button></a>
                            </div>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="row">
            <div class="article-container all-articles">
                <div class="article-overlay">
                    View All
                    <div class="row">
                        <a href="/articles/all"><button class="ui inverted massive button">Go</button></a>
                    </div>
                </div>
                
            </div>
        </div>
           

    </div>
</div>


<% include partials/footer %>