<% include /partials/header %>

<div class="article-header">
    <div class="overlay">


            <div class="article-container">
                <a href="/articles/weightlifting"><img class="article-image" src="https://hd.unsplash.com/photo-1434754205268-ad3b5f549b11"></a>

            </div>


            <div class="article-container">
                <div class="articles-overlay">
                     <a href="/articles/cardio"><img class="article-image" src="https://hd.unsplash.com/photo-1466761366829-84fd59a22e0b"></a>
                </div>
            </div>


            <div class="article-container">
                 <a href="/articles/nutrition"><img class="article-image" src="https://hd.unsplash.com/photo-1437750769465-301382cdf094"></a>

            </div>

    </div>
</div>


<% include /partials/footer %>