<% include /partials/header %>

<h1 class="page-header">Articles</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="article-container">
                <a href="/articles/weightlifting"><img class="article-image" src="https://hd.unsplash.com/photo-1434754205268-ad3b5f549b11"></a>
                <h1 class="sub-title">Weight-lifting</h1>
            </div>
        </div>
        <div class="col-md-4">
            <div class="article-container">
                 <a href="/articles/cardio"><img class="article-image" src="https://hd.unsplash.com/photo-1466761366829-84fd59a22e0b"></a>
                <h1 class="sub-title">Cardio</h1>
            </div>
        </div>
        <div class="col-md-4">
            <div class="article-container">
                 <a href="/articles/nutrition"><img class="article-image" src="https://hd.unsplash.com/photo-1437750769465-301382cdf094"></a>
                <h1 class="sub-title">Nutrition</h1>
            </div>
        </div>
    </div>
    
</div>

<% include /partials/footer %>