<% include /partials/header %>

<style>
    .overlay {
        padding-top:50px;
        background:url(https://hd.unsplash.com/22/brick-wall.JPG);
        background-size:cover;
        opacity: 0.9;
    }

</style>

<div class="overlay">
    <div class="container text-left">
    <form method="post" action="/articles/all">
      <div class="row">

        <div class="form-group">
            <label>Title</label>
                <input type="text" class="form-control" placeholder="title" name="article[title]">
        </div>


        <div class="form-group">
            <label>Category</label><br>
        <select class="selectpicker" name="article[flag]">
            <option>Weightlifting</option>
            <option>Cardio</option>
            <option>Nutrition</option>
        </select>
        </div>


        </div>
        <div class="row">
                <label>Summary</label>
                <textarea class="form-control" rows="1" placeholder="One Sentence Summary......" name="article[summary]"></textarea>
            </div>
            
            <div class="row">
                <label>Body</label>
                <textarea class="form-control" rows="6" placeholder="type comments/information/instructions here......" name="article[body]"></textarea>
            </div>

        <div class="row">
             <button class="ui large button">Create!</button>
        </div>
        
        
       
</form>
</div>
</div>



<% include /partials/footer %>