<% include /partials/header %>


<div class="weightlifting-header">
    <div class="overlay">
        <div class="row">
            Weight-Lifting
        </div>
        <div class="row">
            <a href="/articles/all/new"><button class="ui inverted massive orange button">Create Article</button></a> 
        </div>
    </div>
    
</div>

<div class="container well">
    
<div class="ui items">
  <div class="item">
    <div class="image">
      <img src="http://leanmuscleproject.com/wp-content/uploads/2015/11/barbell.jpg">
    </div>
    <div class="content">
      <a class="header">Weightlifting Article</a>
      <div class="meta">
        <span>Description</span>
      </div>
      <div class="description">
        <p>Succulents gentrify small batch poutine chicharrones intelligentsia, cornhole pork belly butcher pitchfork paleo banjo fam. Raclette woke succulents dreamcatcher, cred gochujang food truck small batch readymade. Lumbersexual occupy pour-over lomo pickled, kale chips succulents biodiesel waistcoat microdosing pop-up whatever. Lyft craft beer plaid DIY. Godard gluten-free keytar mixtape tote bag typewriter. Lo-fi succulents messenger bag, farm-to-table pabst waistcoat lomo. Aesthetic four loko 8-bit cronut semiotics banjo.

Tousled craft beer hashtag pour-over pabst chambray squid ethical, tacos crucifix schlitz. Wolf post-ironic pok pok pork belly, pickled VHS chambray tousled craft beer tilde meggings. Offal scenester tattooed wolf farm-to-table. Narwhal authentic mixtape letterpress. Four loko chia unicorn gluten-free drinking vinegar DIY gochujang. Salvia fashion axe quinoa williamsburg. Kale chips sriracha cred vice, distillery quinoa lumbersexual raclette meditation chillwave fixie air plant craft beer drinking vinegar.</p>
      </div>
      <div class="extra">
        Additional Details
      </div>
    </div>
  </div>
</div>

</div>


<% include /partials/footer %>