<!--movtivation index page-->

<% include ../partials/header %>

<style>
    .row {
        padding-right:15px;
        
    }
    
    .overlay {
        padding-top:8%;
    }

    .col-sm-4, .col-sm-6 {
      padding: 20px;
    }
    
    .thumbnail-button-row{
      background:#333;
      padding:0;
    }
  
</style>

<div class="jumbotron" style="margin-bottom:0px">
    <h1>Motivation Board</h1>
    <h3>Post Your Motivational Images, Posts, Stories Here!</h3>
    <a class="btn btn-md" href="/hq" style="margin-top: 10px">Go to HQ</a>
    <a class="btn btn-md" href="/bulletin-board"style="margin-top: 10px">Explore the Bulletin Board</a>
</div>


    <div class="bulletin-navbar">
        <!--article dropdown-->
        <span class="dropdown">
          <button class="ui big inverted button dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
               <i class="fa fa-book bulletin-navbar-icons" aria-hidden="true"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/articles/all/new">Create New Article</a></li>
            <li><a href="/bulletin-board/articles">Just View Articles</a></li>
          </ul>
        </span>
        <!--recipe dropdown-->
        <span class="dropdown">
          <button class="ui big inverted button dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-cutlery bulletin-navbar-icons" aria-hidden="true"></i>
            <!--<span class="caret"></span>-->
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a class="dropdown-list-item" href="/bulletin-board/recipes/new">Create New Recipe</a></li>
            <li><a class="dropdown-list-item" href="/bulletin-board/recipes">Just View Recipes</a></li>
          </ul>
        </span>
        <!--question dropdown-->
        
        <span class="dropdown">
          <button class="ui big inverted button dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-question bulletin-navbar-icons" aria-hidden="true"></i>
            <!--<span class="caret"></span>-->
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/bulletin-board/questions/new">Ask A Question</a></li>
            <li><a href="/bulletin-board/questions">Just View Questions</a></li>
          </ul>
        </span>
        <!--motivation dropdown-->
        <span class="dropdown">
          <button class="ui big inverted button dropdown-toggle active" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
           <i class="fa fa-rocket bulletin-navbar-icons" aria-hidden="true"></i>
            <!--<span class="caret"></span>-->
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/bulletin-board/motivation/new">Post Motivation</a></li>
            <li><a href="/bulletin-board/motivation">Just View Motivation</a></li>
          </ul>
        </span>
    </div>


<div class="container">

  <div class="row text-center">
     <% motivation.forEach(function(motivation) { %>
        <div class="col-sm-6 text-center">
          <div class="thumbnail">
            <div class="thumbnail-image" style="background:url(<%=motivation.image%>); background-size:cover; height:300px">
             </div>
             <div class="caption">
               <div class="row thumbnail-button-row">
                   <a class="btn btn-xs" href="/bulletin-board/motivation/<%=motivation._id%>">View</a>
                   <% if (motivation.author.username == currentUser.username ) { %>
                       <a class="btn btn-xs"href="/bulletin-board/motivation/<%=motivation._id%>/edit">Edit</a>
                        <form action="/bulletin-board/motivation/<%=motivation._id%>?_method=DELETE" method="post" class="pull-right">
                              <button class="btn btn-xs">X</button>
                        </form>
                  <% } %>
                </div>
             </div>
            <!--<div class="row text-right"   style="padding-right:5%; padding-bottom:20px">-->
            <!--  <button class="ui small inverted blue button">Edit</button>-->
            <!--  <button class="ui small inverted red button">Help!</button>-->
            <!--</div>-->
            
          </div>
        </div>
   <%  }) %>
  </div>
  
</div>



<%include ../partials/footer%>