<% include ../../partials/header%>

<div class="container">
    <div class="jumbotron text-center">
        <h1>Add Comment to <%=recipe.title%></h1>
    </div>
    <form method="post" action="/recipes/<%=recipe.id%>/comments">
        <label>Text</label>
            <input type="text" name="comment[text]">
        <button>Post</button>
    </form>
</div>


<% include ../../partials/footer%>